body {
    
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:#f0f0f0;
    text-align: center;
  }
  
  .add-event-top-btn {
    display: block;
    margin: 10px auto 20px;
    padding: 10px 20px;
    background-color: #008cba;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;

  }
  .table-container {

    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid  #e6e2d3;
    border-radius:8px;
   
  }
  
  .table-header th {
    padding: 10px;
    font-weight: bold;
  }

  .event-row td, .new-event-row td {
    background-color:#e6e2d3;
    border-top: 10px solid  white;
  }


  input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .edit-btn {
    background-color: 	#008cba;
    color:  #f0f0f0;
  }
  
  .delete-btn {
    background-color:#c94c4c;
    color:  #f0f0f0;
  }
  
  .add-btn {
    background-color: 	#008cba;
    color:  #f0f0f0;
  }
  
  .cancel-btn {
    background-color:#c94c4c;
    color:  #f0f0f0;
 
  }
  
  .hidden {
    display: none;
  }
